# Data
data/
*.npy  # Numpy
*.mat  # MATLAB
*.ply  # PointClouds

# IDE
.vscode/

# C++
open3d/  # Dependency
*Makefile
build/
CMakeFiles/
.cache/
*.cmake
*.make
*.marks
*.exe


# Python
__pycache__/
venv/
